.company-info {
    display: flex;
    align-items: center;
    justify-content: center;
}
.table th {
    color: #ffffff!important;
    text-align: left;
}


.cchart {

      iframe {
        border: 0;
        width: 450px!important;
        height: 280px!important;
      }
      article {
        height: 280px!important;
      }
}
@media only screen and  (max-width: 380px ) {
      .cchart {
        width: 100%;
        margin: 10px;

         iframe {
          border: 0;
          width: 32% !important;
          height: 280px !important;
      }
    }
    .tv-lightweight-charts {
      width: 335px!important;
    }
    .tv-lightweight-charts canvas {
      width: 100%!important;
    }
    .tv-lightweight-charts table {
      width: 320px!important;
    }
  }
@media only screen and  (min-width: 380px ) and (max-width:480px ) {
  .cchart {
    width: 100%;
    margin: 10px;

   iframe {
      border: 0;
      width: 36% !important;
      height: 280px !important;
  }
}
    .tv-lightweight-charts {
      width: 365px!important;
    }
    .tv-lightweight-charts canvas {
      width: 100%!important;
    }
    .tv-lightweight-charts table {
      width: 365px!important;
    }
    }
    @media only screen and (min-width: 480px ) and (max-width:600px ) {
      .cchart {
        width: 100%;
        margin: 10px;
    
       iframe {
          border: 0;
          width: 40% !important;
          height: 280px !important;
      }
    }
      .tv-lightweight-charts {
        width: 480px!important;
      }
      .tv-lightweight-charts canvas {
        width: 100%!important;
      }
      .tv-lightweight-charts table {
        width: 470px!important;
      }
      }
@media only screen and (min-width: 768px ) and (max-width: 1368px ) {
    .cchart {
      width: 48%;
      margin: 10px;
  }
    .tv-lightweight-charts {
      width: 345px!important;
    }
    .tv-lightweight-charts canvas {
      width: 100%!important;
    }
    .tv-lightweight-charts table {
      width: 330px!important;
    }
    }
@media only screen and (min-width:768px ) {
    iframe {
        width: 100%!important;
    }
}
@media only screen and (min-width:768px ) and (max-width: 1024px ) {
    iframe {
        width: 40%!important;
    }
}
@media only screen and (min-width:1024px ) and (max-width: 1280px ) {
    iframe {
        width: 65%!important;
    }
    }
@media only screen and (min-width:1280px ) and (max-width: 1400px ) {
iframe {
    width: 70%!important;
}
}