.cry-card {
    background: #060916;
    width: 360px;
    margin: 8px;
    padding: 30px 10px;
    border-radius: 10px;
}
.cry-card h2{
    font-size: 25px;
    font-weight: 700;
    margin-top: 10px;
  }
@media only screen and (max-width: 420px) {

    .nav-tabs .nav-link {
        margin-bottom: -1px;
        background: none;
        border: 1px solid transparent;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        font-size: 13px;
        padding: 5px;
    }
    .nav-tabs {
        border-bottom: 1px solid #40444b;
        background: #060916;
        border-top: 1px solid #40444b;
        padding: 0px 15% !important;
    }
    .crtps  {
        flex: 0 0 auto;
        width: 100%!important;
    }
    .cry-card {
        background: #060916;
        width: 330px;
        margin: 10px;
        padding: 20px 10px 20px;
        border-radius: 10px;
    }
    .ws-card {
        background: #0b4a32;
        width: 100%!important;
        margin: 5px;
        padding: 15px;
        border-radius: 5px;
    }
    
    }
    
    @media only screen and (min-width: 420px) and (max-width: 540px) {

        .nav-tabs .nav-link {
            margin-bottom: -1px;
            background: none;
            border: 1px solid transparent;
            border-top-left-radius: 0.25rem;
            border-top-right-radius: 0.25rem;
            font-size: 13px;
            padding: 5px;
        }
        .nav-tabs {
            border-bottom: 1px solid #40444b;
            background: #060916;
            border-top: 1px solid #40444b;
            padding: 0px 15% !important;
        }
        .cry-card {
            background: #060916;
            width: 490px;
            margin: 10px;
            padding: 40px 10px;
            border-radius: 10px;
        }
        .crtps  {
            flex: 0 0 auto;
            width: 100%!important;
        }

        }
        @media only screen and (min-width: 600px ) and (max-width: 768px ) {
            .positn {
                flex: 0 0 auto;
                width: 50%;
            }
            .crtps  {
                flex: 0 0 auto;
                width: 50%!important;
            }
    
            .cry-card {
                background: #060916;
                width: 241px;
                margin: 2px;
                padding: 30px 3px;
                border-radius: 10px;
            }
            .cry-card h2 {
                font-size: 20px;
                font-weight: 700;
                margin-top: 10px;
            }
            .crtpos p {
                margin-bottom: 0;
                color: #7d8893;
                font-size: 15px;
            }    
        }
        @media only screen and (min-width: 769px ) and (max-width: 980px ) {

        .positn {
            flex: 0 0 auto;
            width: 50%;
        }
        .crtps  {
            flex: 0 0 auto;
            width: 50%!important;
        }

        .cry-card {
            background: #060916;
            width: 250px;
            margin: 5px;
            padding: 30px 5px;
            border-radius: 10px;
        }
        .cry-card h2 {
            font-size: 20px;
            font-weight: 700;
            margin-top: 10px;
        }
        .crtpos p {
            margin-bottom: 0;
            color: #7d8893;
            font-size: 15px;
        }
        }
        @media only screen and (min-width: 980px ) and (max-width: 1024px ) {

            .positn {
                flex: 0 0 auto;
                width: 50%;
            }
            .crtps  {
                flex: 0 0 auto;
                width: 50%!important;
            }
    
            .cry-card {
                background: #060916;
                width: 310px;
                margin: 5px;
                padding: 25px 5px;
                border-radius: 10px;
            }
    
            } 
        @media only screen and (min-width: 1080px ) and (max-width: 1280px ) {

        .positn {
            flex: 0 0 auto;
            width: 23%;
        }

        .cry-card {
            background: #060916;
            width: 320px!important;
            margin: 5px;
            padding: 20px 5px 20px;
            border-radius: 5px;
        }
        .cry-card h2 {
            font-size: 20px;
            font-weight: 700;
            margin-top: 10px;
        }
        }

        @media only screen and (min-width: 1290px ) and (max-width: 1400px ) {

            .positn {
                flex: 0 0 auto;
                width: 23%;
            }
    
            .cry-card {
                background: #060916;
                width: 256px !important;
                margin: 5px;
                padding: 30px 5px;
                border-radius: 5px;
            }
            .cry-card h2 {
                font-size: 22px;
                font-weight: 700;
                margin-top: 10px;
            }
            }