.setting-btn {
    padding: 10px;
    background: #0f121f;
    border-radius: 5px;
    color: #efefef;
    margin-left: 20px;
    font-size: 16px;
    width: 85%;
    float: right;
}

.select-user {
    width: 55%;
    margin: 0 auto;

    .w-50{
        width: 20%!important;
    }
}
.form-switch .form-check-input {
    width: 5em;
    height: 1.5rem;
    margin-left: -2.5em;
    margin-right: 15px;
}